<!DOCTYPE HTML>
<html>
    <head>
        <title>神马系统</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Cache" content="no-cache">
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta http-equiv="x-ua-compatible" content="IE=Edge, chrome=1"/>
    </head>
    <script src="/static/plugins/jquery.min.js"></script>
    <script src="/static/plugins/md5.js"></script>
    <script src="/static/service/login.js"></script>
    <style>
        .login_div {padding: 5px;}
        .login_div .left {width: 100px;line-height: 18px; padding: 5px;display: inline;}
        .login_div .right {width: 300px;line-height: 18px; padding: 5px;display: inline;}
        .login_div input {line-height: 18px; padding: 5px;}
    </style>
    <body>
        <div style="height: 80%;padding:6em;text-align: center;">
            <div class="login_div">
                <div class="left">用户名称：</div>
                <div class="right"><input type="text" id="userName" placeholder="请输入用户名" /></div>
            </div>
            <div class="login_div">
                <div class="left">密码：</div>
                <div class="right"><input type="password" id="pwd" placeholder="请输入密码" /></div>
            </div>
            <div class="login_div"><input type="button" id="loginbtn" value="登录" /></div>
        </div>
    </body>
</html>